<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html>
    <head>
        <title>Djangauto - Modèles de {{car.brand}}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="center">
            <section class="car-brand-list">
                <h1>Liste des modèles de {{brand_name}}</h1>
                {% if car_model_list %}
                    <ul>
                    {% for car_model in car_model_list %}
                        <li>
                            <div class="link">
                                <a href="{% url 'model_detail' brand_name car_model.name %}">{{ car_model }}</a>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No cars are available.</p>
                {% endif %}
            </section>
            <section class="new-car-brand">
                <h1>Ajouter un nouveau modèle de {{brand_name}}</h1>
                <form action="{% url 'brand_detail' brand_name %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons submit='Add model' %}{% endbuttons %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </section>
        </div>
    </body>
</html>
