<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html>
    <head>
        <title>Djangauto - Marques de voitures</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}?date">
    </head>
    <body>
        <div class="center">
            <section class="car-brand-list">
                <h1>Liste des marques de voitures</h1>
                {% if car_brand_list %}
                    <ul>
                        {% for car_brand in car_brand_list %}
                            <li>
                                <div class="link">
                                    <a href="{% url 'brand_detail' car_brand.name %}">{{ car_brand }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No cars are available.</p>
                {% endif %}
            </section>
        </div>
    </body>
</html>

