<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html>
    <head>
        <title>Djangauto - Connection</title>
        <link rel="stylesheet" href="static/css/style.css?{% now 'U' %}" type="text/css">
    </head>
    <body>
        <section class="connection">
            <div class="center">
                <h1>Connection</h1>
                <form action="{% url 'connection' %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout="inline" %}
                    <div class="form_container">
                        {% buttons submit="Connect" %}{% endbuttons %}
                    </div>
                </form>
            </div>
        </section> 
    </body>
</html>

