<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load cloudinary %}
{% load staticfiles %}
<html>
    <head>
        <title>Djangauto - Models de voitures</title>
        <link rel="stylesheet" href="static/css/style.css?{% now 'U' %}" type="text/css">
    </head>
    <body>
        <section>
            <div class="logout">
                {% url 'deconnection' as deconnection_url %}
                {% bootstrap_button "Logout" button_type="link" href=deconnection_url button_class="btn-primary" %}
            </div>
            <div class="list-page">
                <h1>Liste des models de voitures</h1>
                {% url 'add_model' as add_model_url %}
                {% bootstrap_button "Add a Model" button_type="link" href=add_model_url button_class="btn-primary" %}
                {% if image_model_list %}
                    {% for image_model in image_model_list %}
                        <div>
                            <hr>
                            <div class="list-item">
                                <a href="{% url 'model_detail' image_model.car_model.pk %}">{{ image_model.car_model }}</a>
                                <p>{{ image_model.car_model.price }} &euro;</p>
                                <div>
                                    {% bootstrap_button "" button_type="submit" button_class="btn-primary fas fa-trash-alt" %}
                                </div>
                            </div>
                            <div>
                                {% for image in image_model.image_list %}
                                    {% cloudinary image.name width=50 height=50 crop="fill" %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                {% else %}
                    <p>No cars are available.</p>
                {% endif %}
            </div>
        </section>
    </body>
</html>

