<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load cloudinary %}
<html>
    <head>
        <title>Djangauto - Marques de voitures</title>
        <link rel="stylesheet" href="static/css/style.css?{% now 'U' %}" type="text/css">
    </head>
    <body>
        <h1>Détails</h1>
        <div class="grid-wrapper">
            <div class="img">
                {% for image in images %}
                    {% cloudinary image.name width=100 height=100 crop="fill" %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>

