<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html>
    <head>
        <title>Djangauto - Models de voitures</title>
        <link rel="stylesheet" href="static/css/style.css?{% now 'U' %}" type="text/css">
    </head>
    <body>
        <div class="center">
            <section class="car-model-list">
                <h1>Liste des models de voitures</h1>
                {% if car_model_list %}
                    {% for car_model in car_model_list %}
                        <hr>
                        <div class="list-item">
                            <a href="{% url 'model_detail' car_model.pk %}">{{ car_model }}</a>
                            <p>{{ car_model.price }} &euro;</p>
                        </div>
                    {% endfor %}
                    <hr>
                {% else %}
                    <p>No cars are available.</p>
                {% endif %}
                {% url 'add_model' as add_model_url %}
                {% bootstrap_button "Add a Model" button_type="link" href=add_model_url button_class="btn-primary" %}
            </section>
        </div>
    </body>
</html>

