<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html>
    <head>
        <title>Djangauto - Marques de voitures</title>
        <!-- <style>
            @import url('https://fonts.googleapis.com/css?family=Montserrat');

            html {
                height: 100%;
                background: linear-gradient(#ffffff, #c7cbf7);
                background-repeat: no-repeat;
                font-family: 'Montserrat', sans-serif;
            }

            h1 {
                font-size: 40px;
                color: rgb(216, 84, 84);
            }
        </style>     -->
    </head>
    <body>
        <h1>Détails de la {{ car_model }}</h1>
        <div class="grid-wrapper">
            <div class="img">
                {% load static %}
                <img src="{% static "" %}voitures/{{ brand }}/{{ car_model.name }}/voiture0.jpg" alt="img1">
                <img src="{% static "" %}voitures/{{ brand }}/{{ car_model.name }}/voiture1.jpg" alt="img2">
                <img src="{% static "" %}voitures/{{ brand }}/{{ car_model.name }}/voiture2.jpg" alt="img3">
            </div>
        </div>
    </body>
</html>

