<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html>
    <head>
        <title>Djangauto - Connection</title>
        {% now "U" as date %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}?date">
    </head>
    <body>
        <div class="center">
            <section class="connection"></section>
                <h1>Login</h1>
                <form action="{% url 'connection' %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-button">
                        {% buttons submit="Connect" %}{% endbuttons %}
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
                <div class="form-button">
                    {% url 'registration' as registration_url %}
                    {% bootstrap_button "Register" button_type="link" href=registration_url button_class="btn-primary" %}
                </div>
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </section> 
        </div>
    </body>
</html>

